<% provide(:title, 'home page') %>
<div class="center hero-unit">
<h1>yoyo games</h1>
<h2>home page for bacon roll app</h2>

<%= image_tag("http://25.media.tumblr.com/tumblr_m60xhfMCtM1qcq7qdo1_400.png") %>
<br>
<%= link_to "create order", ordering_path, class: "btn btn-custom" %>
<%= link_to "view orders", orders_path, class: "btn btn-custom"  %>

</div>

<!-- <%= link_to image_tag("rails.png", alt: "powered by rails"), 'http://rubyonrails.org/' %> -->